@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4 text-black">Добро пожаловать в пиццерию от Razor Sharp Pizza</h1>
        <h2 class="mainSubTitle">Потрясающий вкус незабываемой Razor Sharp Pizza!</h2>
    </div>
    <img class="mainImage" src="~/images/Pizza/iPizza.png"/>
    <br />
    <a class="btn btn-outline-success" asp-area="" asp-page="Checkout/OrderCompletion">Я ХОЧУ ЭТУ ПИЦЦУ!</a>
</div>
