@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4 text-black">Добро пожаловать в пиццерию от Подшибкина</h1>
        <h2 class="mainSubTitle">Попробуй фирменные пиццы от шева или создай свою!</h2>
    </div>
    <img class="mainImage" src="~/images/Pizza/iPizza.png"/>
    <br />
    <a class="btn btn-outline-success" asp-area="" asp-page="/Pizza">Заказывай или создавай пиццу прямо сейчас!</a>
</div>
