@page
@model PizzaShop.Pages.PizzaModel
@{
}
<div class="text-center">
    <div class="mainText">
        <h1 class="display-4 text-black">Добро пожаловать в пиццерию от Razor Sharp Pizza</h1>
        <p class="smallText"><i>Only one pizza per order</i></p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 mb-5 mt-5">
                <div class="w-100 row makeYourOwnDiv">
                    <div class="col-4">
                        <img src="~/images/Pizza/CreatePizza.png" class="w-100"/>
                    </div>
                    <div class="col-8 align-middle makeYourOwnText">
                        <h3 style="text-align:left;">Создай свою собственную пиццу!</h3>
                        <p style="text-align:left;">Сделай свою фирменную пиццу сам!</p>
                        <a class="btn btn-primary" style="float: left" asp-area="" asp-page="Form/CustomPizza">Попробуй сейчас!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  